@{
    ViewData["Title"] = "Login";
}

<h2> You are almost there... </h2>

<div id="login" style="text-align: center;
    vertical-align: middle;font-size: 22px;
    padding-bottom: 100px;">

    <br /><p>Your music hub awaits</p>
    <p>To get full customization please continue with your spotify</p><br />

    <a asp-area="" asp-controller="Home" asp-action="Spotify"><img src="~/images/Spotify_Logo_CMYK_Green.png" alt="Spotify Logo" width="300"></a>
    <br />
</div>

